name: Metrics
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
  push:
    branches: ["main", "master"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: thevanshit
          template: classic
          base: header, activity, community, repositories

          config_display: normal
          config_padding: 12%
          config_timezone: Asia/Calcutta

          plugin_introduction: yes
          plugin_introduction_title: yes

          plugin_languages: yes
          plugin_languages_display: compact
          plugin_languages_limit: 6
          plugin_languages_threshold: 2%

          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
