name: Metrics

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: thevanshit

          template: classic
          base: header, activity, community, repositories, metadata

          config_timezone: Asia/Calcutta
          config_display: large

          plugin_languages: yes
          plugin_languages_limit: 10

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_stars: yes
          plugin_stars_limit: 5

          plugin_people: yes
          plugin_people_types: followers
          plugin_people_limit: 24

          plugin_achievements: yes
          plugin_achievements_threshold: C

